html, body{
    margin: 0;
    padding: 0;
}
 
#mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px
}
 
#fixedContent{
    margin-bottom: 50px;
}
 
#wrapper{
    width: 350px;
}
 
#routedContent{
    width: 350px;
    position: absolute;
}
 
ul{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 0;
    padding: 0;
}
 
a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Arial;
 
    list-style: none;
    background-color: #cecece;
    padding: 7px 10px;
    border-radius: 2px;
}